{
  "./*.js": ["prettier --write", "eslint --fix"],
  "test/dummy/frontend/**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "test/dummy/frontend/**/*.css": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{gemspec,rb}": ["bundle exec rubocop --force-exclusion"]
}
