{
  "*.js": [
    "prettier --write",
    "eslint",
    "git add"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ],
  "*.{gemspec,rb}": [
    "bundle exec rubocop -a",
    "git add"
  ]
}