<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Comments</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='article_list'>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_user_article_path %>
