<!DOCTYPE html>
<html>
<head>
  <title>Loco</title>
  <%= stylesheet_link_tag    "loco/application", media: "all" %>
  <%= javascript_include_tag "loco/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
