<h1>RealSnapChat rooms</h1>

<% if @rooms.any? %>
<table id='rooms_list'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'room', collection: @rooms_with_hub, as: :room_with_hub %>
  </tbody>
</table>
<% end %>

<%= will_paginate @rooms %>

<br>

<%= link_to 'New Room', new_user_room_path %>
