<h1>RealSnapChat rooms</h1>

<% if @rooms.any? %>
<table id='rooms_list'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<% end %>

<%= will_paginate @rooms %>

<br>

<%= link_to 'New Room', new_user_room_path %>

<script type="application/json" id="rooms-data">
  <%= raw @rooms_with_hub.map { |os|
    {
      id:            os.room.id,
      name:          os.room.name,
      members_count: os.hub.raw_members.size,
      joined:        os.hub.include?(current_user)
    }
  }.to_json %>
</script>
