* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a {
  color: #0000FF;
  img { border: none; }
}

p, article {
  margin: 14px 0;
}

th, td{
  padding: 4px 1px;
}

h1{
  margin-bottom: 20px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.none{ display: none; }
.text_right{ text-align: right; }
.bottom_space{ margin-bottom: 14px; }

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#user_nav {
  p {
    text-align: right;
  }
}

.flash{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  color: #fff;

  &.notice{
    background-color: rgba(0,178,5,0.9);
  }
  &.alert{
    background-color: rgba(208,0,0,0.9);
  }
  &.warning{
    background-color: rgba(227, 183, 113, 0.9);
  }

  p {
    text-align: center;
  }
}

.errors{
  color: #D00;
}

input[type=text], input[type=password], textarea {
  width: 300px;
  height: 30px;
  font-size: 16px;
}

input[type=submit]{
  font-size: 20px;
}

textarea{
  height: 120px;
}