<p class="text_right">
  <%= link_to "Sign in", new_user_session_url %> | <%= link_to "Sign up", new_user_url %>
</p>

<section id="articles"></section>

<hr>

<p><a href='#' id='load_more'>Load more…</a></p>